<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujin.course_enrollment.mapper.CourseMapper">

    <!-- 강의 등록 -->
    <insert id="insertCourse" parameterType="Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO courses (
                creator_id
              , title
              , description
              , price
              , capacity
              , status
              , start_date
              , end_date
        ) VALUES (
                #{creatorId}
              , #{title}
              , #{description}
              , #{price}
              , #{capacity}
              , 'DRAFT'
              , #{startDate}
              , #{endDate}
        )
    </insert>

    <!-- 강의 단건 조회 -->
    <select id="selectCourseById" parameterType="long" resultType="Course">
        SELECT id
             , creator_id
             , title
             , description
             , price
             , capacity
             , enrolled_count
             , status
             , start_date
             , end_date
             , created_at
             , updated_at
          FROM courses
         WHERE id = #{id}
    </select>

</mapper>